<div style="padding: 10px;">
	<a style="margin-left: 500px;" href="/user_profile/">My Profile</a> | <a href="/logout">Log Out</a>
	<br>
	<h1><%= @user.name %></h1>
	<p>Description: <%= @user.description %></p>




</div>